.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#playerControls {
  display: flex;
  justify-content: center;
}

.playerButton {
  display: inline-block;
  border: none;
  background-color: white;
  font-size: 90px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  font-size: 50px;
  margin: 5px;
}

#numbers {
  width: 100%;
}

.numberRow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.guessCorrectComplete {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 30px;
  font-size: 50px;
  font-weight: bold;
  height: 50px;
  color: #009900;
}

.guessCorrectIncomplete {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 30px;
  font-size: 50px;
  font-weight: bold;
  height: 50px;
  color: #000000;
}

#guessIncorrect {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 30px;
  font-size: 50px;
  font-weight: bold;
  height: 50px;
  color: red;
}

#guessArea {
  display: flex;
  justify-content: center;
  height: 50px;
}